@media only screen and (orientation:portrait){
    /*h4{
      font-size: clamp(0.8rem, 0.2750rem + 2.3333vw, 1.5rem);
    }*/
    header{
      height:auto;
      align-items:flex-start;
    }
    .navBtn{
      display:flex;
    }
    .navLinks,.socialSec{
      display:none;
    }
    .navLinks{
      height:30%;
      align-self:stretch;
    }
    ul{
      flex-direction:column;
    }
    .navLinks,.socialSec{
      position:absolute;
      transform:translate(-50%,-50%);
      top:50%;left:50%;
    }
    .socialSec{
      z-index:20;
      top:-50%;
      width:calc(100% - 6rem);
    }

    .title{
      visibility: visible;
    }
    aside{
      display: hidden;
    }
    .main,header{
      width: 100%;
    }
  
    #home{
      flex-direction:column;
    }
    .description{
      margin-top:4rem;
    }
    .profilePicture img{
      height: clamp(22rem, 14.5000rem + 33.3333vw, 32rem);
    }
    .buttonSec{
      justify-content:space-evenly;
    }
    .borderbutton{
      margin-right:0;
    }
  }